<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='学生管理'"></head>

<body style="width: 100%">
<form id="studentSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">学生姓名</label>
        <div class="layui-input-inline">
            <input id="studentName" name="studentName" autocomplete="off" class="layui-input" type="text"/>
        </div>

        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">搜索</button>
    </div>
</form>

<button class="layui-btn layui-btn-danger" lay-submit="" id="delStudent" style="float: left">批量删除</button>
<a class="layui-btn layui-btn-normal" lay-submit="" id="downLoad" style="float: left">批量下载</a>

<button type="button" class="layui-btn" id="upload" style="float: left">
    <i class="layui-icon">&#xe67c;</i>批量增加
</button>

<button class="layui-btn" lay-submit="" id="addStudent" style="float: right">添加</button>
<!--<hr class="layui-bg-blue"/>-->
<hr class="layui-bg-black"/>

<table id="studentList" lay-filter="studentTable"></table>

<script type="text/html" id="optBar">
    <a class="layui-btn layui-btn-xs" lay-event="editStudent">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="delStudent">删除</a>
</script>

</div>

<script type="text/javascript" src="/js/studentList.js"></script>

<script>
    $("#addStudent").click(function () {
        layer.open({
            type: 2,
            title: '添加学生',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/student/toAddStudent'
        });
    })

    $(function () {
        layui.use('table', function () {
            var table = layui.table

            $("#delStudent").click(function () {
                var checkStatus = table.checkStatus('studentTableId'); //idTest 即为基础参数 id 对应的值
                var selected = checkStatus.data //获取选中行的数据
                var selectedNum = selected.length //获取选中行数量，可作为是否有选中行的条件
                if (0 == selectedNum) {
                    layer.msg("未选中订单")
                    return;
                }
                var studentIds = "";
                for (var i = 0; i < selectedNum; i++) {
                    if (i != selectedNum - 1) {
                        studentIds += selected[i].id + ",";
                    } else {
                        studentIds += selected[i].id;
                    }
                }

                layer.confirm('您确定全部删除吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/student/delStudents", {"studentIds": studentIds}, function (data) {
                        if (data.success) {
                            layer.alert("删除成功", function (index) {
                                layer.close(index); //再执行关闭
                                load($("studentSearch").serialize());
                            });
                        } else {
                            layer.alert(data.message);
                        }
                    });
                }, function () {
                    return;
                });
            })

            $("#downLoad").click(function () {
                var checkStatus = table.checkStatus('studentTableId'); //idTest 即为基础参数 id 对应的值
                var selected = checkStatus.data //获取选中行的数据
                var selectedNum = selected.length //获取选中行数量，可作为是否有选中行的条件
                if (0 == selectedNum) {
                    layer.msg("未选中学生")
                    return;
                }
                var studentIds = "";
                for (var i = 0; i < selectedNum; i++) {
                    if (i != selectedNum - 1) {
                        studentIds += selected[i].id + ",";
                    } else {
                        studentIds += selected[i].id;
                    }
                }
                location.href = "/student/excelStudentList?studentIds=" + studentIds;
                /*$.post("/student/excelStudentList", {"studentIds": studentIds}, function (data) {
                    if (data.success) {
                        layer.alert("下载成功", function (index) {
                            layer.close(index); //再执行关闭
                            load($("studentSearch").serialize());
                        });
                    } else {
                        layer.alert(data.message);
                    }
                });*/

            })
        });
    })

    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            , url: '/student/uploadStudentList' //上传接口
            , accept: 'file' //普通文件
            , done: function (data) {
                //上传完毕回调
                if (data.success) {
                    layer.alert("增加成功", function (index) {
                        layer.close(index); //再执行关闭
                        load($("studentSearch").serialize());
                    });
                } else {
                    layer.alert(data.message);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>