<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='权限列表'"></head>
<body style="width: 100%">

<!--<hr class="layui-bg-blue"/>-->
<hr class="layui-bg-black"/>

<table id="permissionList" lay-filter="permissionTable"></table>

</div>

<script src="/js/permissionList.js"></script>

<script>
    $("#addVisitor").click(function () {
        layer.open({
            type: 2,
            title: '添加来客',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/visitor/toAddVisitor'
        });
    })

    $(function () {
        layui.use('table', function () {
            var table = layui.table

            $("#delVisitor").click(function () {
                var checkStatus = table.checkStatus('visitorTableId'); //idTest 即为基础参数 id 对应的值
                var selected = checkStatus.data //获取选中行的数据
                var selectedNum = selected.length //获取选中行数量，可作为是否有选中行的条件
                if (0 == selectedNum) {
                    layer.msg("未选中订单")
                    return;
                }
                var visitorIds = "";
                for (var i = 0; i < selectedNum; i++) {
                    if (i != selectedNum - 1) {
                        visitorIds += selected[i].id + ",";
                    } else {
                        visitorIds += selected[i].id;
                    }
                }

                layer.confirm('您确定全部删除吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/visitor/delVisitors", {"visitorIds": visitorIds}, function (data) {
                        if (data.success) {
                            layer.alert("删除成功", function (index) {
                                layer.close(index); //再执行关闭
                                load($("visitorSearch").serialize());
                            });
                        } else {
                            layer.alert(data.message);
                        }
                    });
                }, function () {
                    return;
                });
            })
        });
    })
</script>
</body>
</html>