<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.mapper.DormRoomMapper">
 <select id="getPageDormRoomList" resultType="com.spring.demo.entity.DormRoom">
        select * from dorm_room
        where 1=1
        <if test="dormRoomNo!=null and dormRoomNo!=''">
         and dorm_room_no=#{dormRoomNo}
        </if>
    </select>
</mapper>
