<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.mapper.StudentMapper">
    <select id="getPageStudentList" resultType="Map">
        select * from student stu
        left join stu_class cls on cls.id=stu.stu_class_id
        left join department dep dep.id=cls.department_id
        left join dorm_room dor on dor.id=stu.stu_dorm_room_id
        left join dorm d on d.id=dor.dorm_id
        where 1=1
        <if test="${studentName!=null and studentName!= ''}">
            and stu.stu_name= like concat('%',#{studentName},'%')
        </if>
    </select>
</mapper>
